services:
  postgres:
    image: postgres:18-alpine
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql

  api:
    user: "1000:1000"
    build:
      context: ./backend
      dockerfile: docker/backend.dockerfile
      args:
        REQUIREMENTS: requirements.txt
    restart: always
    env_file:
      - .env.dev
    ports:
      - "8000:80"
    volumes:
      - ./backend/app:/src/app
      - ./backend/migrations:/src/migrations
      - ./backend/scripts:/src/scripts
      - ./htmlcov:/src/htmlcov
    depends_on:
        postgres:
          condition: service_healthy

volumes:
  db-data:
